body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    color: #E5E7EB;
    font-size: 18px;
}
