body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

}

.section1-left {
    width: 450px;
    margin-left: 311px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 5px;
}

#section1-content {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 5px;
    margin-top: 0px;
}

a {
    color: white;
    font-size: 15px;
    font-weight: 900;
    background-color: #3882F6;
    margin-left: 5px;
    border-radius: 5px;
    padding: 8PX;
    padding-left: 25px;
    padding-right: 25px;
}

img {
    width: 450px;
    height: auto;
    margin-right: 315px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

#section2-title {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.section2-img {
    height: 200px;
    width: 200px;
    margin-right: 0;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section2-info {
    width: 200px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: #1F2937;
    border: 3px solid white;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 399.750px;
}

.section3-quote {
    width: 900px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0px;
}

.section3-author {
    margin-left: 550px;
}

.author {
    margin-top: 0px;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.section4-box {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    width: 1200px;
    height: 130px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}

.box-title {
    color: #E5E7EB;
    margin-bottom: 0px;
    font-size: 24px;
}

.box-info {
    color: #E5E7EB;
    margin-top: 0px;
}

.box-button {
    border: 1px solid #E5E7EB
}




/* divider for my brain orginization */

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.copyright {
    font-size: 16px;
    color: #E5E7EB;
}