body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* divider for my brain orginization */

.header {
    display: flex;
    border: 8px solid green;
    background-color: #1F2937
}

.logo {
    border: 3px solid yellow;
    font-size: 24px;
    color: #F9FAF8;
}

li {
    border: 3px solid yellow;
    font-size: 18px;
    color: #E5E7EB;
}

/* divider for my brain orginization */

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 8px solid green;
}

.section1 {
    border: 5px solid black;
}

.section2 {
    border: 5px solid black;
}

.section3 {
    border: 5px solid black;
}

.section4 {
    border: 5px solid black;
}

h4 {
    border: 3px solid yellow;
}



/* divider for my brain orginization */

.footer {
    display: flex;
    flex: 0;
    border: 8px solid green;
    background-color: #1F2937;
}

.copyright {
    border: 3px solid yellow;
    font-size: 8px;
    color: #E5E7EB;
}