body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* divider for my brain orginization */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

/* divider for my brain orginization */

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 8px solid green;
    border-top: none;
}

/* divider */

.section1 {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section1-left {
    width: 450px;
    margin-left: 311px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 5px;
}

#section1-content {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 5px;
    margin-top: 0px;
}

a {
    color: white;
    font-size: 15px;
    font-weight: 900;
    background-color: #3882F6;
    margin-left: 5px;
    border-radius: 5px;
    padding: 8PX;
    padding-left: 25px;
    padding-right: 25px;
}

img {
    width: 450px;
    height: auto;
    margin-right: 315px;
}

/* divider */

.section2 {
    border: 5px solid black;
}

.section3 {
    border: 5px solid black;
}

.section4 {
    border: 5px solid black;
}

h4 {
    border: 3px solid yellow;
}



/* divider for my brain orginization */

.footer {
    display: flex;
    flex: 0;
    border: 8px solid green;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 10px;
    color: #E5E7EB;
}